
#waveformHeader {
    box-sizing: border-box;
    
    position: fixed;
    z-index: -10;

    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 10vh;
    transform: translateY(-15%);
}

#waveformGradientBG {
    position: fixed;
    z-index: -15;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    background: linear-gradient(
        180deg, 
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.74) 50%,
        rgba(255, 255, 255, 0.185) 75%, 
        rgba(255, 255, 255, 0)
    );
}


.waveformSplit {
    position: absolute;
    box-sizing: inherit;
    height: 100%;
    min-width: 50%;
    display: flex;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    align-items: flex-start;
    /* gap: 5px; */
    transition: all ease-in-out 0.2s;
}

.waveformSplit-PAUSE:first-of-type {
    top: 0;
    right: 50%;
    justify-content: flex-end;
    /* padding-right: 2.5px; */
    /* background-color: rgba(0, 255, 255, 0.258); */
}

.waveformSplit:last-of-type {
    justify-content: flex-start;
    top: 0;
    left: 0%;
    width: 100%;
    /* padding-left: 2.5px; */
    /* background-color: pink; */
} 

.wavebar {
    position: relative;
    /* display: inline-block; */
    background-color: #f05624;
    border-radius: 0 0 10px 10px;
    height: 100%;
    /* max-width: 20px; */
    min-width: 8px;
    animation: wavebarIn 0.5s ease-out;
}




@keyframes wavebarIn {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}